* {margin:0;padding:0;box-sizing:border-box;}

body{
	background-color:white;
	font-size:16px;
}

h1{
	color:black;
}

h2{
	color:grey;
}

p{
	color:teal;
}

#title{
	color:grey;
	font-size: 3.5em;
	padding:50px 450px 0 0;
}
